form {
	float: right;
	margin-bottom: 10px;

	button {
		margin-left: 10px;
		padding: 12px 43px 12px 18px;
		position: relative;

		&::after {
			background-image: url(./../assets/icon/select@3x.png);
			background-repeat: no-repeat;
			background-size: 12px 8px;
			content: '';
			height: 8px;
			position: absolute;
			right: 18px;
			top: calc(50% - 4px);
			width: 12px;
		}

		&[data-sort] {
			min-width: 172px;
			padding-right: 35px;

			&::after {
				background-image: url(./../assets/icon/sort@3x.png);
				background-size: 14px 20px;
				height: 20px;
				right: 13px;
				top: calc(50% - 10px);
				width: 14px;
			}
		}
	}

	[data-filter-year],
	[data-sort] {
		float: left;
	}
}