form {
	float: right;
	margin-bottom: 10px;

	button {		
		padding: 12px 40px 12px 7px;
		position: relative;

		@media (min-width: $tablet) {
			padding-left: 18px;
			padding-right: 43px;
		}

		&::after {
			background-image: url(./../assets/icon/select@3x.png);
			background-repeat: no-repeat;
			background-size: 12px 8px;
			content: '';
			height: 8px;
			position: absolute;
			right: 15px;
			top: calc(50% - 4px);
			width: 12px;

			@media (min-width: $tablet) {
				right: 18px;
			}
		}

		&[data-sort] {
			min-width: 136px;
			padding-right: 35px;

			&::after {
				background-image: url(./../assets/icon/sort@3x.png);
				background-size: 14px 20px;
				height: 20px;
				right: 10px;
				top: calc(50% - 10px);
				width: 14px;
			}

			@media (min-width: $tablet) {
				min-width: 172px;

				&::after {
					right: 13px;
				}
			}
		}
	}

	[data-filter-year],
	[data-sort] {
		float: left;
	}

	[data-filter-year] {
		position: relative;

		button {
			margin-right: 10px;
			min-width: 125px;
			text-align: left;

			&:hover,
			&:focus {
				&::after {
					transform: none;
				}
			}

			&.open {
				&::after {
					transform: rotate(180deg);
				}
			}

			@media (min-width: $mobile) {
				min-width: 155px;
			}
		}

		[data-filter-dropdown] {
			display: none;
			position: absolute;
			top: 42px;
			left: 0;
			right: 0;
			max-height: 200px;
			overflow-y: scroll;

			@media (min-width: $mobile) {
				max-height: 300px;
			}

			@media (min-width: $desktop) {
				max-height: none;
				overflow: unset;
			}

			[data-filter-option] {
				background-color: $primary-blue;
				border-bottom: 1px solid $white-color;
				color: $white-color;
				cursor: pointer;
				padding: 10px 10px 10px 17px;
				width: calc(100% - 10px);

				&:first-child {
					border-top: 1px solid $white-color;
				}

				&:last-child {
					border-bottom: none;
				}

				&:hover,
				&:focus {
					background-color: $font-color;
				}
			}
		}

		.open + [data-filter-dropdown] {
			display: block;
		}
	}
}