body {
	font-family: $font-family;
	font-size: 14px;
}

button {
	background-color: $primary-blue;
	color: $white-color;
	cursor: pointer;
	font-size: 0.8rem;

	&::after {
		transition: transform 0.6s;
	}
	

	&:hover,
	&:focus {
		&::after {
			transform-origin: center;
			transform: rotate(180deg);
		}
	}

	@media (min-width: $tablet) {
		font-size: 1rem;
	}
}

.container {
	margin: 0 auto;
	overflow: hidden;

	@media (min-width: $tablet) {
		max-width: $desktop;
	}
	
}

main {
	clear: both;
	opacity: 0;
	transition: opacity 0.3s;
	padding-top: 53px;

	&.show {
		opacity: 1;
	}

	@media (min-width: $tablet) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

article,
aside {
	padding: 0 15px;

	@media (min-width: $tablet) {
		margin: 0 auto;
		padding: 0;
	}

	@media (min-width: $desktop) {
		float: left;
	}
}

article {
	@media (min-width: $tablet) {
		min-width: 730px;
	}
	
}

aside {
	overflow: hidden;
	padding: 25px 0;

	@media (min-width: $tablet) {
		max-width: 535px;
		padding-top: 82px;
	}
}